---
layout: default
title: Tensorflow
---

<div>
  <h2>Tensorflow </h2>

  <section class="archive_list">
    {% assign catobjs = site.categories.Tensorflow %}	
	{% assign subject_array = "" | split: "" %} 
	
	{% for catobj in catobjs %}
	{% assign subject_array = subject_array | push: catobj.subject %}
	{% endfor %}
	
	{% assign subject_array = subject_array | uniq %}
		
	
    {% for subject in subject_array %}		
    <div class="category-name">
      <h2>{{ subject}}</h2>
    </div>
	{% for post in site.categories.Tensorflow %}
	{% if post.subject == subject %}
    <div class="post_title">
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a>
        <span class="date">{{ post.date | date: "%-d %b, %Y" }}</span>
    </div>
	{% endif %}    
    {% endfor %}    
    {% endfor %}
  </section>
  <footer class="article-footer" mar>
    {% include author.html %}
  </footer>
</div>


